<html>
    <head>
        <!--<script src="http://127.0.0.1:8000/static/js/intigrate.js"></script>-->
    </head>
    
 Hello Connecting
 <!-- jQuery library -->
<script>


(function(w, d, s, id) {
    
    var js, fjs = d.getElementsByTagName(s)[0];
    js = d.createElement(s);
    js.id = id;
    //js.client_key = "12345"
    window.client_token = "http://127.0.0.1:8000"
    js.src = "http://127.0.0.1:5000/static/js/cdn/makerobos-app.js";
    //js.src = "https://makerobosassets.s3.ap-south-1.amazonaws.com/webpush/makerobos-app.js";
    fjs.parentNode.appendChild(js);
    }(window, document, 'script', 'makerobos-sdk'));
    
    //write downoaded file functions here
	    
</script>

</html>